$black: #000;
$white: #fff;
$gray: #c8c8c8;
$light-blue: #3a85ff;
$blue: #2778ff;
$dark-blue: #133d7f;

html,
body {
	width: 100%;
	height: 100%;

	margin: 0;
}

@media ( max-width: 600px ) {
	.hide-small {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( max-width: 992px ) and ( min-width: 601px ) {
	.hide-medium {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

@media ( min-width: 993px ) {
	.hide-large {
		display: none !important; /* stylelint-disable-line declaration-no-important */
	}
}

.button {
	margin: 5px;

	padding: 15px;

	border: 1px solid $dark-blue;
	border-radius: 10;
}

input[ type='number' ]::-webkit-inner-spin-button,
input[ type='number' ]::-webkit-outer-spin-button {
	margin: 0;

	-webkit-appearance: none;
}

.top-bar {
	display: flex;

	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;

	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	height: 80px;

	border-bottom: 1px solid $dark-blue;

	background: $blue;
}

.top-bar > div {
	display: flex;

	align-items: flex-end;

	height: 100%;
}

.menu-link {
	display: flex;

	align-items: center;

	height: 100%;

	padding-right: 20px;
	padding-left: 20px;

	transition: 0.2s ease;

	border-bottom: 0 solid $dark-blue;

	color: $dark-blue;

	text-decoration: none;
}

.menu-link:hover {
	border-bottom: 5px solid $dark-blue;
}

.menu-open {
	display: flex;

	align-items: center;

	height: 100%;

	padding-right: 20px;
	padding-left: 20px;

	color: $dark-blue;

	text-decoration: none;
}

.mobile-menu {
	display: none;

	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;

	flex-direction: column;

	width: 200px;
	height: 100%;

	background: $dark-blue;
}

.mobile-menu-close {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 100%;
	height: 80px;

	transition: 0.2s ease;

	border-bottom: 0 solid $blue;

	color: $blue;

	text-decoration: none;
}

.mobile-menu-close:hover {
	border-bottom: 5px solid $blue;
}

.mobile-menu-link {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 100%;

	transition: 0.2s ease;

	border-bottom: 0 solid $blue;

	color: $blue;

	text-decoration: none;
}

.mobile-menu-link:hover {
	border-bottom: 5px solid $blue;
}

#vehicle_display {
	margin-top: 80px;
}

#vehicle_display .img-carousel .rec-slider-container img {
	width: 100%;
}

#vehicle_display .img-carousel .img-list {
	display: flex;

	flex-direction: row;

	width: 100%;
	height: 50px;
}

#vehicle_display .img-carousel .img-list img {
	height: 100%;
}

footer {
	display: flex;

	flex-direction: column;

	width: 100%;

	margin-top: 20px;

	background: $dark-blue;
}

footer > p {
	padding: 10px;

	color: $gray;

	text-align: center;
}

footer > p a {
	padding-right: 20px;
	padding-left: 20px;

	color: $gray;

	text-decoration: none;
}

footer > p a:hover {
	color: $blue;
}

footer .social {
	display: flex;

	flex-direction: row;

	width: 100%;

	border-bottom: 1px solid $light-blue;

	color: $gray;
}

footer .social div {
	display: flex;

	align-items: center;
	justify-content: center;

	width: 33.333%;

	padding: 20px;
}

footer .social div > i {
	margin-right: 10px;
	margin-left: 10px;

	font-size: 1.3em;
}

footer .social div a {
	margin-right: 10px;
	margin-left: 10px;

	color: $gray;

	font-size: 1.3em;
}

footer .social div a:hover {
	color: $blue;
}

footer .social .number {
	margin-left: -4%;
}

/*! small version */
footer .social-small {
	display: flex;

	flex-direction: column;

	width: 100%;

	border-bottom: 1px solid $light-blue;

	color: $gray;
}

footer .social-small div {
	display: flex;

	align-items: center;
	justify-content: center;

	padding: 20px;
}

footer .social-small div > i {
	margin-right: 10px;
	margin-left: 10px;

	font-size: 1.3em;
}

footer .social-small div a {
	margin-right: 10px;
	margin-left: 10px;

	color: $gray;

	font-size: 1.3em;
}

footer .social-small div a:hover {
	color: $blue;
}

footer .social-small .number {
	margin-left: -4%;
}

footer .my-plug {
	display: flex;

	flex-direction: row;
	align-items: center;
	justify-content: space-between;

	background: $gray;

	color: $dark-blue;
}

footer .my-plug a {
	height: 100%;

	padding-top: 5px;
	padding-bottom: 5px;

	color: $dark-blue;

	font-weight: bold;

	text-decoration: none;
}

footer .my-plug a:hover {
	color: $blue;
}

footer .my-plug a i {
	padding: 5px;
}

footer .my-plug p {
	margin: 0;

	padding-top: 10px;
	padding-bottom: 10px;
}

@media ( max-width: 600px ) { /*! small screen sizes */
	footer .my-plug p {
		width: 100%;

		text-align: center;
	}
}

@media ( min-width: 601px ) { /*! medium screen sizes */
	footer .my-plug p {
		text-align: center;
	}
}
