$black: #000000;
$white: #ffffff;
$gray: #c8c8c8;
$light_blue: #3a85ff;
$blue: #2778ff;
$dark_blue: #133d7f;


html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 100%;
}

@media (max-width:600px) {
  .hide-small {
    display:none !important;
  }
}
@media (max-width:992px) and (min-width:601px) {
  .hide-medium {
    display:none !important;
  }
}
@media (min-width:993px) {
  .hide-large {
    display:none !important;
  }
}

.button {
  margin: 5px;
  padding: 15px;
  border: 1px solid $dark_blue;
  border-radius: 10;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}


.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $dark_blue;
  z-index: 1;

  background: $blue;
}
.top_bar > div {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.menu_link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-bottom: 0px solid $dark_blue;
  transition: all 0.2s ease;

  color: $dark_blue;
}
.menu_link:hover {
  border-bottom: 5px solid $dark_blue;
}
.menu_open {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;

  color: $dark_blue;
}

.mobile_menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 200px;
  z-index: 10;

  background: $dark_blue;
}
.mobile_menu_close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  text-decoration: none;
  border: none;
  border-bottom: 0px solid $blue;
  transition: all 0.2s ease;

  color: $blue;
}
.mobile_menu_close:hover {
  border-bottom: 5px solid $blue;
}
.mobile_menu_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  border-bottom: 0px solid $blue;
  transition: all 0.2s ease;

  color: $blue;
}
.mobile_menu_link:hover {
  border-bottom: 5px solid $blue;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100% - 80px);
  width: 100%;
  margin-top: 80px;

  background-image: url('../images/road1.jpg');
  background-position: top;
  background-size: auto 160%;
  color: $white;
}
header h1 {
  text-align: center;
  margin: 20px;
  font-size: 3rem;
}
header h3 {
  text-align: center;
  margin: 20px;
  margin-top: 30px;
  font-size: 1.5rem;
}
header a {
  display: flex;
  margin-top: 40px;
  padding: 10px;
  border: 2px solid transparent;
  border-radius: 10px;
  text-decoration: none;

  background: $gray;
  color: $dark_blue;
}
header a:hover {
  background: $dark_blue;
  color: $gray;
}
header a .icons {
  display: flex;
	justify-content: center;
	align-items: center;
  position: relative;
  width: 16px;
  margin-left: 5px;
}
header a .icons i {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
header .icons .fa-arrow-right {
  transition: .3s;
}
header .icons .fa-car-side {
  left: -100px;
  transition: .3s;
	transform: scale(.5);
	opacity: 0;
}
header a:hover .icons .fa-arrow-right {
  transform: scale(.5);
	opacity: 0;
}
header a:hover .icons .fa-car-side {
  left: 0px;
  transform: scale(1);
	opacity: 1;
}



.first_ribbon {
  color: $gray;
  background: $dark_blue;
}
.first_ribbon .hide-small {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.first_ribbon .hide-small div {
  width: 33.333%;
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.first_ribbon .hide-small .one {
  margin-left: 20px;
}
.first_ribbon .hide-small .three {
  margin-right: 20px;
}
.first_ribbon .hide-small p {
  text-align: justify;
}
.first_ribbon .hide-large {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.first_ribbon .hide-large div {
  margin: 15px;
  margin-left: 30px;
  margin-right: 30px;
}
.first_ribbon .hide-large p {
  text-align: justify;
}


@media (max-width:600px) { /* small screen sizes */
  .browse .brand ul {
    height: 330px;
    padding: 0px;
    column-count: 1;
    column-gap: 20px;
  }
  .browse .brand ul li {
    justify-content: flex-start;
    padding-left: 20px;

    border-bottom: 1px solid $dark_blue;
  }
  .browse .brand .show-more::after {
      content: "Show More";
  }
  .browse .brand #show-more:checked ~ .show-more::after {
      content: "Show Less";
  }
  .browse .brand #show-more:checked ~ ul {
    height: auto;
  }}
@media (max-width:992px) and (min-width:601px) { /* medium screen sizes */
  .browse .brand ul {
    column-count: 3;
    column-gap: 20px;
  }
  .browse .brand .show-more {
    display: none;
  }}
@media (min-width:993px) { /* large screen sizes */
  .browse .brand ul {
    column-count: 4;
    column-gap: 20px;
  }
  .browse .brand .show-more {
    display: none;
  }}
.browse {
  background: $white;
}
.browse .brand {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.browse .brand ul {
  overflow: hidden;
  list-style-type: none;
}
.browse .brand ul li {
  display: inline-flex;
  width: 100%;
  height: 4rem;
}
.browse .brand ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%;

  color: $dark_blue;
}
.browse .brand ul li i {
  margin-right: 5px;
  font-size: 1.5rem;
}
.browse .brand #show-more {
  display: none;
}
.browse .brand .show-more {
  padding: 10px;
  border-radius: 10px;

  background: $dark_blue;
  color: $blue;
}


footer {
  display: flex;
  width: 100%;

  background: $dark_blue;
}
