$black: #000000;
$white: #ffffff;
$gray: #c8c8c8;
$light_blue: #3a85ff;
$blue: #2778ff;
$dark_blue: #133d7f;


html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  font-size: 100%;
}

@media (max-width:600px) {
  .hide-small {
    display:none !important;
  }
}
@media (max-width:992px) and (min-width:601px) {
  .hide-medium {
    display:none !important;
  }
}
@media (min-width:993px) {
  .hide-large {
    display:none !important;
  }
}

.button {
  margin: 5px;
  padding: 15px;
  border: 1px solid $dark_blue;
  border-radius: 10;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}


.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid $dark_blue;
  z-index: 1;

  background: $blue;
}
.top_bar > div {
  display: flex;
  align-items: flex-end;
  height: 100%;
}
.menu_link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  border-bottom: 0px solid $dark_blue;
  transition: all 0.2s ease;

  color: $dark_blue;
}
.menu_link:hover {
  border-bottom: 5px solid $dark_blue;
}
.menu_open {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;

  color: $dark_blue;
}

.mobile_menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 200px;
  z-index: 10;

  background: $dark_blue;
}
.mobile_menu_close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  text-decoration: none;
  border: none;
  border-bottom: 0px solid $blue;
  transition: all 0.2s ease;

  color: $blue;
}
.mobile_menu_close:hover {
  border-bottom: 5px solid $blue;
}
.mobile_menu_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-decoration: none;
  border-bottom: 0px solid $blue;
  transition: all 0.2s ease;

  color: $blue;
}
.mobile_menu_link:hover {
  border-bottom: 5px solid $blue;
}



#search_form {
  margin-top: 80px;
}
#search_form .filters {
  display: flex;
  flex-direction: column;
}
#search_form .filters .search_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid $gray;
  border-radius: 5px;
}
#search_form .filters .search_box p {
  height: 100%;
  margin: 0px;
  padding: 8px;
  padding-right: 0px;
  font-size: 18px;
  border-left: 1px solid $gray;
}
#search_form .filters .search_box input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border: none;
}
#search_form .filters .search_box input[name="zip_code"] {
  width: 100px;
}
#search_form .filters .search_box .drop_down button {
  height: 100%;
  padding: 10px;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  white-space: nowrap;
  cursor: pointer;

  background: $white;
}
#search_form .filters .search_box .drop_down .dd_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 3px;
  width: 200px;
  border: 1px solid $gray;
  border-top: 1px solid $white;
  border-bottom: 0px;
  border-radius: 0 0 5px 5px;
  z-index: 5;

  background: $white;
}
#search_form .filters .search_box .drop_down .dd_content a {
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid $gray;

  color: $black;
}
#search_form .filters .search_box .drop_down .dd_content a:last-of-type {
  border-bottom: 0px;
}
#search_form .filters .search_box button {
  height: 100%;
  padding: 12px;
  border: 0px;
  cursor: pointer;

  background: $white;
}
#search_form .filters .search_box button i {
  padding-left: 8px;
}
#search_form .filters .drop_downs {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 60px;
}
#search_form .filters .drop_downs .drop_down {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 80%;
  width: 16.6%;
  margin: 5px;
  border: 1px solid $gray;
  border-radius: 5px;
}
#search_form .filters .drop_downs .drop_down.dd_open {
  height: calc(80% + 5px);
  border-bottom: 0px;
  border-radius: 5px 5px 0 0;
}
#search_form .filters .drop_downs .drop_down button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;

  background: $white;
  outline: none;
}
#search_form .filters .drop_downs .drop_down button i {
  padding-left: 8px;
}
#search_form .filters .drop_downs .drop_down .dd_content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: -1px;
  width: 400%;
  border: 1px solid $gray;
  border-bottom: 0px;
  border-radius: 0 5px 5px 5px;

  background: $white;
}
#search_form .filters .drop_downs .drop_down .dd_content::after {
  position: absolute;
  left: 0;
  top: -1px;
  width: calc(25% + 1px);
  height: 1px;
  content: "";

  background: $white;
}
#search_form .filters .drop_downs .drop_down .dd_content a {
  padding: 10px;
  border-bottom: 1px solid $gray;
}

#search_form .dd_content .tabs {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex-grow: 1;
  width: calc(100% - 20px);
  height: 100%;
  margin: 10px;
}
#search_form .dd_content .tabs > .tab_buttons {
  display: flex;
  flex-direction: row;
}
#search_form .dd_content .tabs > .tab_buttons > .tab_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 30px;
  padding: 2px;
  border-radius: 10px 10px 0 0;
  cursor: pointer;

  background: $blue;
}
#search_form .dd_content .tabs > .tab_buttons > .tab_button:hover {
  filter: grayscale(25%);
}
#search_form .dd_content .tabs > .tab_buttons > .tab_button.active {
  background: $gray;
}
#search_form .dd_content .tabs > .tab_content {
  padding: 10px;
  transition: height 0.2s;

  background: $gray;
}
#search_form .dd_content .tabs > .tab_content.tab0_selected {
  height: 80px;
}
#search_form .dd_content .tabs > .tab_content.tab1_selected {
  height: 180px;
}
#search_form .dd_content .tabs .tab .sliderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}
#search_form .dd_content .tabs .tab .sliderContent > label {
  margin-top: 10px;
}
#search_form .dd_content .tabs .tab .sliderContent > .inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}
#search_form .dd_content .tabs .tab .sliderContent > .inputs > span {
  height: 25px;
}
#search_form .dd_content .tabs .tab .sliderContent > .inputs > p {
  margin-left: 5px;
  margin-right: 5px;
}
#search_form .dd_content .tabs .tab .sliderContent > .slider_container {
  display: flex;
  flex-direction: column;
  width: calc(100% - 20px);
}
#search_form .dd_content .tabs .tab .sliderContent > .slider_container > div {
  height: 10px;
  border-radius: 5px;

  background-color: $dark_blue;
}
#search_form .dd_content .tabs .tab .sliderContent > .slider_container > div > div {
  height: 20px;
  width: 20px;
  border-radius: 100%;

  background-color: $blue;
}
#search_form .dd_content .tabs .tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#search_form .dd_content .tabs .tab > div > div {
  display: flex;
  flex-direction: row;
}
#search_form .dd_content .tabs .tab div {
  height: 50%;
}
#search_form .dd_content .tabs .tab label {
  display: flex;
  align-items: center;
  width: 100%;
}
#search_form .dd_content .tabs .tab .inputNumber {
  display: flex;
  align-items: center;
  height: 25px;
  border: 1px solid $blue;
  border-radius: 5px;

  background: $white;
}
#search_form .dd_content .tabs .tab .inputNumber input {
  width: 80px;
  text-align: right;
  border: none;
  border-radius: 5px;

  background: $white;
  outline: none;
  -moz-appearance: textfield;
}
#search_form .dd_content .tabs .tab > .slider_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px;
}
#search_form .dd_content .tabs .tab .inputs {
  width: 100%;
}
#search_form .dd_content .tabs .tab .slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 10px);
}
#search_form .dd_content .tabs .tab .slider > div {
  height: 10px;
  border-radius: 5px;

  background-color: $dark_blue;
}
#search_form .dd_content .tabs .tab .slider > div > div {
  height: 20px;
  width: 20px;
  border-radius: 100%;

  background-color: $blue;
}

@media (max-width:600px) {
  #search_form .makemodel .dd_content {
    left: -50px !important;
    width: 500% !important;
    border-radius: 5px !important;
  }
  #search_form .filters .makemodel .dd_content::after {
    left: 48px !important;
    width: calc(20% + 2px) !important;
  }
}
@media (max-width:992px) and (min-width:601px) {
  #search_form .makemodel .dd_content {
    left: -80px !important;
    width: 550% !important;
    border-radius: 5px !important;
  }
  #search_form .filters .makemodel .dd_content::after {
    left: 78px !important;
    width: calc(18% + 2px) !important;
  }
}
@media (min-width:993px) {
  #search_form .makemodel .dd_content {
    left: -100px !important;
    width: 500% !important;
    border-radius: 5px !important;
  }
  #search_form .filters .makemodel .dd_content::after {
    left: 98px !important;
    width: calc(20% + 2px) !important;
  }
}
#search_form .dd_content .search_container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
#search_form .dd_content .search_container > .searchbox {
  display: flex;
  flex-direction: row;
}
#search_form .dd_content .search_container > .searchbox input {
  height: 30px;
  width: 100%;
  margin: 10px;
}
#search_form .dd_content .search_container > .box-container {
  padding: 20px;
}
@media (max-width:600px) {
  #search_form .dd_content .search_container > .box-container ul {
    column-count: 3;
  }
}
@media (max-width:992px) and (min-width:601px) {
  #search_form .dd_content .search_container > .box-container ul {
    column-count: 4;
  }
}
@media (min-width:993px) {
  #search_form .dd_content .search_container > .box-container ul {
    column-count: 5;
  }
}
#search_form .dd_content .search_container > .box-container ul {
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  list-style-type: none;
  grid-column-gap: 20px;
  column-gap: 20px;
}
#search_form .dd_content .search_container > .box-container li {
  display: inline-flex;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
#search_form .dd_content .search_container > .box-container li .modelsBar {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  right: -800px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  -webkit-animation: slideOut 0.5s forwards;
  animation: slideOut 0.5s forwards;

  background: transparent;
}
@-webkit-keyframes slideOut { 100% { right: 0; }}
@keyframes slideOut { 100% { right: 0; }}
@-webkit-keyframes slideIn { 100% { right: -800px; }}
@keyframes slideIn { 100% { right: -800px; }}
#search_form .dd_content .search_container > .box-container li .modelsBar.isClosing {
  right: 0px;
  -webkit-animation: slideIn 0.5s forwards;
  animation: slideIn 0.5s forwards;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .leftSpacer {
  width: 15%;
  cursor: default;

  background: transparent;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .container {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: -5px 0px 20px #888888;

  background: $light_blue;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .container > p {
  display: flex;
  justify-content: flex-start;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .container > p > button {
  width: 125px;
  border: 0px;

  background: transparent;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .container > ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  column-count: 3;
}
#search_form .dd_content .search_container > .box-container li .modelsBar > .container li {
  width: 30%;
}
#search_form .dd_content .search_container > .box-container > p {
  margin: 0px;
  padding: 15px;
  padding-left: 5px;
  border-top: 1px solid $gray;
}


footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;

  background: $dark_blue;
}
footer > p {
  padding: 10px;
  text-align: center;

  color: $gray;
}
footer > p a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;

  color: $gray;
}
footer > p a:hover {
  color: $blue;
}
footer .social {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid $light_blue;

  color: $gray;
}
footer .social div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.333%;
  padding: 20px;
}
footer .social div > i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
}
footer .social div a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;

  color: $gray;
}
footer .social div a:hover {
  color: $blue;
}
footer .social .number {
  margin-left: -4%;
}
/* small version */
footer .social-small {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid $light_blue;

  color: $gray;
}
footer .social-small div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
footer .social-small div > i {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;
}
footer .social-small div a {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3rem;

  color: $gray;
}
footer .social-small div a:hover {
  color: $blue;
}
footer .social-small .number {
  margin-left: -4%;
}
footer .my-plug {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  background: $gray;
  color: $dark_blue;
}
footer .my-plug a {
  height: 100%;
  font-weight: bold;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;

  color: $dark_blue;
}
footer .my-plug a:hover {
  color: $blue;
}
footer .my-plug a i {
  padding: 5px;
}
footer .my-plug p {
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width:600px) { /* small screen sizes */
  footer .my-plug p {
    width: 100%;
    text-align: center;
  }}
@media (min-width:601px) { /* medium screen sizes */
  footer .my-plug p {
    text-align: center;
  }}
